@import '~styles/variables.scss';

.wrapper_img {
  display: flex;
  flex: 3 1;
  gap: $size-10;
  margin-top: $size-20;
  max-height: 230px;

  .image {
    display: flex;
    min-width: 200px;
    border-radius: 50px;
    box-shadow: $neomorphizm_white;
    flex-direction: column;
    justify-content: center;

    &_title {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      img {
        border-radius: 15%;
        object-fit: fill;
        height: 100%;
        width: 100%;
      }
    }
  }
  .increase {
    background-color: $gray-600;
    transform: scale(1.5, 1.5);
  }

  .volume {
    display: flex;
    flex-direction: column-reverse;
    border-radius: $size-6;
    margin-left: $size-10;
    height: 100%;
    min-width: $size-8;
    max-width: $size-8;
    background-color: #d3d3d3;
    position: relative;

    &_track {
      &__progress {
        background-color: $gray-200;
        border-radius: $size-6;
      }
      &__thumb {
        position: absolute;
        left: -3px;
        border-radius: 50%;
        width: $size-16;
        height: $size-16;
        background-color: $gray-500;
        cursor: pointer;
      }
    }
  }
}
