@import '../../styles/variables.scss';

.currentTime {
  flex: 3 2;
  width: 100%;
  &_timer {
    display: flex;
    justify-content: flex-end;
    font-size: $font-size-14;
  }
  &_input {
    position: relative;
    margin-top: $size-20;

    /*Chrome*/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      input[type='range'] {
        overflow: hidden;
        width: 100%;
        -webkit-appearance: none;
        &::-webkit-slider-runnable-track {
          height: 15px;
          -webkit-appearance: none;
          color: #9a905d;
          margin-top: -1px;
        }

        &::-webkit-slider-thumb {
          width: 20px;
          -webkit-appearance: none;
          height: 40px;
          cursor: ew-resize;
          background: #434343;
          box-shadow: -200px 0 0 200px #43e5f73d;
        }
      }
    }
    /** FF*/
    input[type='range'] {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;

      &::-moz-range-progress {
        width: 20px;
        -webkit-appearance: none;
        height: 40px;
        cursor: ew-resize;
        background: #434343;
        box-shadow: -200px 0 0 200px #43e5f73d;
      }
      &::-moz-range-track {
        height: 15px;
        -webkit-appearance: none;
        color: #9a905d;
        margin-top: -1px;
      }
      /* IE*/
      &::-ms-fill-lower {
        background-color: #9a905d;
      }
      ::-ms-ticks-before {
        display: block;
        color: black;
      }
      &::-ms-fill-upper {
        background: black;
        // width: 50%;
      }
    }
  }
}
