$font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu,
  sans-serif;

// font-size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-25: 25px;

// box-shadow
$box_shadow_5: 0 5px 10px rgba(51, 51, 51, 0.398);
$neomorphizm_white: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;

// size
$size-6: 5px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-20: 20px;
$size-30: 30px;
$size-40: 40px;
$size-50: 50px;

// pink
$pink-100: #ffe4e1;
$pink-200: #ffc0cb;
$pink-300: #ffb6c1;
$pink-400: #ff69b4;
$pink-500: #ff1493;

$gray-100: #dcdcdc;
$gray-200: #d3d3d3;
$gray-300: #c0c0c0;
$gray-400: #a9a9a9;
$gray-500: #808080;
$gray-600: #696969;
$gray-700: #708090;
$gray-800: #333;
