$font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu,
  sans-serif;

// font-size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-25: 25px;

// box-shadow
$box_shadow_5: 0 5px 10px rgba(51, 51, 51, 0.398);
$neomorphizm_white: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;

// size
$size-20: 20px;
