@import '~styles/variables.scss';

.registr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $size-20;
  gap: $size-38;

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: $size-30;
  }
}

.error {
  @include font($size-20, $size-24, $pink-500);
  display: flex;
  justify-content: center;
}

.success {
  @include font($size-20, $size-24, $green-600);
  display: flex;
  justify-content: center;
}

.handleSubmit {
  display: flex;
  justify-content: row;
  position: relative;
}
